* {
  transition: 0.4s;
}
header {
  background-color: #ffffff;
  color: black;
  border-bottom: 0.01mm solid black;
  transition: 0.4s;
}
body {
  background-color: #0f4c75;
  color: #ffffff;
  transition: 0.4s;
}
.subnav {
  background-color: white;
  transition: 0.4s;
}
.subnav ul {
  transition: 0.4s;
}
.nav-item a,
.subnav-item a {
  color: #222222;
}
.nav-item a:hover {
  color: #0f4c75;
}
.subnav-item a:hover {
  color: #0f4c75;
}
footer {
  background-color: rgb(51, 51, 51);
  color: #ffffff;
}
#slogan {
  color: #ffffff;
}
#quotaionSection {
  color: #ffffff;
}
.productArticles {
  background-color: #ffffff;
  color: black;
  transition: 0.4s;
}
.productCatchPhrase {
  color: #ffffff;
}
.productHeader {
  background-color: rgba(255, 255, 255, 0.86);
  color: black;
  transition: 0.4s;
}
.btn {
  color: #ffffff;
  background-color: #6983a1;
}
.btn:hover {
  color: #ffffff;
  background-color: #42678b;
}
#orderFormWrap {
  background-color: white;
  color: black;
}
#darkLight {
  background-color: white;
}
#darkLight:hover {
  background-color: white;
  width: 60px;
  height: 60px;
  font-size: 1.5em;
}
header.dark-mode {
  background-color: rgb(32, 33, 36);
  color: black;
  border-bottom: 0.01mm solid black;
}
body.dark-mode {
  background-color: rgb(0, 35, 76);
}
.subnav.dark-mode {
  background-color: rgb(32, 33, 36);
}
.nav-item a.dark-mode,
.subnav-item a.dark-mode {
  color: white;
}
.productArticles.dark-mode {
  background-color: rgb(32, 33, 36);
  color: white;
}
#orderFormWrap.dark-mode {
  background-color: rgb(32, 33, 36);
  color: white;
}
.productHeader.dark-mode {
  background-color: rgba(32, 33, 36, 0.86);
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav-item a.dark-mode:hover {
  color: lightblue;
}
.subnav-item a.dark-mode:hover {
  color: lightblue;
}
.productHeaderNavItem.dark-mode {
  color: white;
}
#orderButton.dark-mode {
  border: 1px solid white;
  color: white;
}
#orderButton.dark-mode:hover {
  border: 1px solid rgba(255, 255, 255, 0.86);
  border-radius: 999px;
  background-color: #1ba3f7;
}
#submitLabel.dark-mode {
  border: 1px solid white;
}
#submitLabel.dark-mode:hover {
  border: 1px solid rgba(255, 255, 255, 0.86);
}
#button.dark-mode {
  color: white;
}
.navbar.dark-mode {
  background-color: rgb(32, 33, 36);
}
.productHeaderNavItem.dark-mode:hover {
  color: lightblue;
}
